@page "/"
@using System.Globalization
@using System.Web
@using ElectronNET.API
@using ElectronNET.API.Entities
@using Microsoft.AspNetCore.Components
@using Serilog
@using PhotoLabeler.Constants
@using PhotoLabeler.Components
@using PhotoLabeler.Interfaces
@using PhotoLabeler.Entities
@using PhotoLabeler.ServiceLibrary.Interfaces
@using PhotoLabeler.Components.Extensions
@using PhotoLabeler.Data.Interfaces.Repositories
@inject IJSRuntime jsRuntime
@inject ILogger   logger
@inject IPhotoLabelerService photoLabelerService
@inject PhotoLabeler.Data.Repositories.Interfaces.IAppConfigRepository appConfigRepository
@inject IMenuService menuService
@inject NavigationManager navigationManager
@inject IStringLocalizer<Index> localizer
<div role="application">
	<h1>Photo Labeler</h1>
	<ul>
		<li><button @onclick="SelectDirectory">@localizer["Open folder"]</button></li>
		<li><button @onclick="ExitApp">@localizer["Exit"]</button></li>
	</ul>

	@if (treeViewItems != null)
	{
		<TreeView Model="@treeViewItems" Id="treeViewPhotos" OnItemSelected="@Item_Selected" />
	}
	@if (gridData != null)
	{
		<PhotoLabeler.Components.Grid Model="@gridData" />
		<input type="checkbox" id="chkFilterUnlabeledPhotos" @onchange="CheckPhotoFilter" /><label for="chkFilterUnlabeledPhotos">@localizer["Hide unlabeled photos."]</label>
		<p><button @onclick="RenamePhotosAsync">@localizer["Rename photos"]</button></p>
	}
</div>
<div role="status">@statusText</div>