@page "/"
@using System.Globalization
@using System.Web
@using ElectronNET.API
@using ElectronNET.API.Entities
@using Microsoft.AspNetCore.Components
@using Serilog
@using PhotoLabeler.Constants
@using PhotoLabeler.Components
@using PhotoLabeler.Interfaces
@using PhotoLabeler.Entities
@using PhotoLabeler.ServiceLibrary.Interfaces
@using PhotoLabeler.Components.Extensions
@using PhotoLabeler.Data.Interfaces.Repositories
@inject IJSRuntime jsRuntime
@inject ILogger   logger
@inject IPhotoLabelerService photoLabelerService
@inject PhotoLabeler.Data.Repositories.Interfaces.IAppConfigRepository appConfigRepository
@inject IMenuService menuService
@inject NavigationManager navigationManager
@inject IStringLocalizer<Index> localizer
<div role="application">
	<div id="top-banner">
		<h1 id="app-name" class="top-banner-item-left">Photo Labeler</h1>
		<ul class="top-menu top-banner-item-left">
			<li>
				<button @onclick="SelectDirectory">@localizer["Open folder"]</button>
			</li>
			<li>
				<button @onclick="ExitApp">@localizer["Exit"]</button>
			</li>
		</ul>
	</div>
	@if (treeViewItems != null)
	{
		<TreeView Model="@treeViewItems" Id="treeViewPhotos" OnItemSelected="@Item_Selected" />
	}
	@if (gridData != null)
	{
		<PhotoLabeler.Components.Grid Model="@gridData" />
		<input type="checkbox" id="chkFilterUnlabeledPhotos" @onchange="CheckPhotoFilter" /><label for="chkFilterUnlabeledPhotos">@localizer["Hide unlabeled photos."]</label>
		<p><button @onclick="RenamePhotosAsync">@localizer["Rename photos"]</button></p>
	}
</div>
<div role="status">@statusText</div>

<style>
	#top-banner {
		height: 50px;
		position: sticky;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		background-color: white;
    	box-shadow: 0px 8px 11px 0px #bebebe;
    	padding-left: 20px;
    	border-radius: 10px;
		margin-bottom: 20px;
	}

	.top-banner-item-left {
		justify-content: flex-start;
		margin: 0;
	}

	.top-menu {
		list-style-type: none;
		margin: 0;
    	padding-top: 10px;
		display: flex;
	}

	.top-menu li {
		margin-right: 20px;
	}

	.top-menu li button {
		background-color: white;
		border-radius: 4px;
	}
</style>