<table role="grid" id="@Id">
	@if (!string.IsNullOrWhiteSpace(Model.Caption))
	{
		<caption>@Model.Caption</caption>
	}
	<thead>
		<GridRow Row="@Model.Header.Row" RefreshGrid="@RefreshGrid" />
	</thead>
	<tbody>
		@foreach (var row in Model.Body.Rows.Where(r => r.Visible))
		{
			<GridRow Row="@row"  RefreshGrid="@RefreshGrid"/>
		}
	</tbody>
</table>
