@using Microsoft.AspNetCore.Components.Web
<div class="main-grid"  @onkeydown="OnKeyDown" tabindex="0" aria-labelledby="@($"{Id}_gridCaption")" @onfocus="OnFocus">
	<table id="@Id">
		@if (!string.IsNullOrWhiteSpace(Model.Caption))
		{
			<caption id="@($"{Id}_gridCaption")">@Model.Caption</caption>
		}
		<thead>
			<GridRow Row="@Model.Header.Row" />
		</thead>
		<tbody>
			@foreach (var item in _renderedItems)
			{
				Logger.Debug($"Rendering row {item.Model.PicturePath}...");
				<GridRow Row="@item.Model" @ref="@item.ComponentRef" />
			}
		</tbody>
	</table>
	<AccessibleAlert Type="AccessibleAlert.AlertType.Status" @ref="_accessibleAlertRef"></AccessibleAlert>
</div>

<style>
	.main-grid {
		border: 1px solid #e0e0e0;
		border-radius: 10px;
		margin-bottom: 10px;
		width: 100%;
		padding: 5px;		
	}

	.main-grid table {
		width: 100%;
	}

	.main-grid table, .main-grid th, .main-grid td {
		padding: 5px;
	}

	.main-grid td:not(:first-child) {
		border-bottom: 1px solid #e0e0e0;
	}

	.main-grid td:first-child {
		width: 120px;
	}

</style>