@using PhotoLabeler.Components.Extensions;
@using Microsoft.AspNetCore.Components.Web;
@inject Serilog.ILogger Logger;

@if (Cell is PhotoLabeler.Entities.Grid.GridLinkCell link)
{
	<a class="@(Cell.Selected ? "focused" : null)" href="@link.Link">
		@Cell.Text
	</a>
}
else if (Cell is PhotoLabeler.Entities.Grid.GridPictCell cellPict)
{
	<img class="@(cellPict.Selected ? "focused" : null)"
		 src="@cellPict.SrcBase64"
		 alt="@(String.IsNullOrWhiteSpace(cellPict.Text) ? cellPict.Src: cellPict.Text)"
		 style="width: 100px; height: 100px; border-radius: 4px;" />
}
else
{
	<span class="@(Cell.Selected ? "focused" : null)">
		@Cell.Text
	</span>
}

@code
{

	[Parameter] public Entities.Grid.GridCell Cell { get; set; }
	[Parameter] public RenderFragment fragment { get; set; }

	
}


