@using Microsoft.AspNetCore.Components.Web
<div class="main-grid"  @onkeydown="OnKeyDown" tabindex="0" aria-label="@(Localizer[(!string.IsNullOrEmpty(Model.Caption) ? "{0}. " : string.Empty) + "{1}", Model.Caption, GetAriaText(true)])">
	<table id="@Id">
		@if (!string.IsNullOrWhiteSpace(Model.Caption))
		{
			<caption>@Model.Caption</caption>
		}
		<thead>
			<GridRow Row="@Model.Header.Row" />
		</thead>
		<tbody>
			@foreach (var visibleItem in _visibleItems)
			{
				var _visibleItem = visibleItem;
				<GridRow Row="@_visibleItem.Item" @ref="@_visibleItem.Reference" />
			}
		</tbody>
	</table>
	<AccessibleAlert @ref="_accessibleAlertRef" Type="AccessibleAlert.AlertType.Status" Text="@GetAriaText()"></AccessibleAlert>
</div>

<style>
	.main-grid {
		border: 1px solid #e0e0e0;
		border-radius: 10px;
		margin-bottom: 10px;
		width: 100%;
		padding: 5px;		
	}

	.main-grid table {
		width: 100%;
	}

	.main-grid table, .main-grid th, .main-grid td {
		padding: 5px;
	}

	.main-grid td:not(:first-child) {
		border-bottom: 1px solid #e0e0e0;
	}

	.main-grid td:first-child {
		width: 120px;
	}

</style>